.projects-container {
  display: flex;
  flex-direction: column; /* Change to column for mobile devices */
  align-items: center; /* Center align items for mobile */
  flex-wrap: wrap;
  margin-top: 100px; /* Adjusted margin-top for better spacing */
  color: #fff;
}

.projects-text {
  font-size: 2rem; /* Adjusted for smaller screens */
  text-align: center;
  width: 100%;
  margin-bottom: 20px; /* Adjusted margin-bottom for spacing */
}

.projects-text-disc {
  font-size: 1.5rem; /* Smaller font size for descriptions */
  font-weight: light;
  font-style: italic;
  color: #666;
  margin-top: 10px; /* Reduced margin-top */
  text-align: center; /* Ensure description is centered */
}

.project-box {
  margin: 20px 10px; /* Adjusted margins for better spacing on mobile */
  display: flex;
  flex-direction: column; /* Stack elements vertically in each project box */
  justify-content: center;
  align-items: center;
  width: 90%; /* Adjust width to fit mobile screens better */
  max-width: 300px; /* Maximum width to maintain layout on larger screens */
  height: auto; /* Height auto for flexibility */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.project-box:hover {
  transform: scale(1.05);
}

.project-info {
  text-align: center; /* Ensure text is centered within the project box */
}

.project-image {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Adjusted margin-bottom for spacing */
}

.project-name,
.project-description,
.project-button {
  font-size: 1rem; /* Adjusted font size for readability on mobile */
}

.project-button {
  padding: 10px 15px; /* Adjust padding for easier interaction on mobile */
  margin-top: 20px; /* More space above the button */
}

@media (min-width: 768px) {
  .projects-container {
    flex-direction: row; /* Row layout for tablets and above */
    justify-content: center; /* Center items horizontally */
    margin-top: 350px; /* Original margin-top for larger screens */
  }

  .project-box {
    flex-direction: row; /* Side-by-side layout for project details */
    width: 45%; /* Adjust width for desktop */
    max-width: 600px; /* Max width to prevent overly wide boxes */
    height: 400px; /* Fixed height for uniformity */
    margin: 20px; /* Spacing between project boxes */
  }

  .projects-text {
    font-size: 3rem; /* Original font size for project heading */
  }

  .projects-text-disc,
  .project-name,
  .project-description,
  .project-button {
    font-size: 1.5rem; /* Original font sizes for larger screens */
  }
}
