.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 150px;
}

.resume-text {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.pdf-viewer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pdf-viewer object {
  width: 80%; /* Adjust width as needed */
  min-height: 500px; /* Minimum height to avoid looking stretched */
  /* Adjust min-height based on your design preference */
}

.pdf-controls {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.resume-download-btn {
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: #af5def;
  transition: background-color 0.3s ease;
}

.resume-download-btn:hover {
  background-color: #9628ea;
  transform: scale(1.05);
}

@media (max-width: 1500px) {
  .resume-text {
    font-size: 2rem;
  }

  .pdf-viewer object {
    width: 90%; /* Adjust for better fit */
    min-height: 400px; /* Adjust minimum height for better appearance */
  }

  .resume-download-btn {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .resume-container {
    margin-top: 100px;
  }

  .resume-text,
  .pdf-controls .resume-download-btn {
    font-size: 1.5rem;
  }

  .pdf-viewer object {
    width: 100%;
    min-height: 300px; /* Smaller height for smaller devices */
  }
}

@media (max-width: 480px) {
  .resume-text {
    font-size: 1.2rem;
  }

  .pdf-viewer object {
    min-height: 200px; /* Consider even smaller height for very small devices */
  }

  .resume-download-btn {
    padding: 8px 16px;
    font-size: 18px;
  }
}
