.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.about-text {
  font-size: 3rem;
  margin: 0;
}

.about-text-me {
  color: #af5def;
  font-weight: bold;
  margin: 0;
}

.about-text-body {
  font-weight: lighter;
  margin-top: 0px;
  margin-left: 250px;
  margin-right: 250px;
  position: static;
}

.about-find-me-section {
  margin-top: 100px;
}

.about-find-me-links {
  margin-top: 0px;
}

.about-find-me-links a {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  color: white;
}

.about-find-me-links a:hover {
  color: #af5def;
}

.about-find-me-links a:not(:last-child) {
  margin-right: 0px;
}

/*Laptops*/
@media (max-width: 1500px) {
  .about-container {
    margin-top: 150px;
    height: auto !important;
  }

  .about-text {
    font-size: 2rem;
    margin: 0;
  }

  .about-text-body {
    font-size: 16px;
  }

  .about-find-me-section {
    margin-top: 100px;
  }

  .about-find-me-links a {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
  }

  .about-find-me-links a:hover {
    color: #af5def;
  }
}
