.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
}

.home-text p {
  font-size: 3rem;
  margin: 0;
  color: #ffff;
}

.home-text-name {
  color: #af5def;
  font-weight: bold;
}

.home-text-type {
  font-size: 3rem;
}
