nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end; /* Keeps content aligned to the right */
  align-items: center;
  padding: 10 20px; /* Added padding on both sides */
  z-index: 1000; /* Ensures navbar is on top */
  background-color: var(--bg-color); /* Use your background color variable */
  font-weight: bold;
}

.hamburger {
  display: none; /* Hidden on desktop */
  cursor: pointer;
  flex-direction: column;
  z-index: 1010; /* Ensures it's clickable over the menu */
}

.hamburger div {
  background-color: white; /* Hamburger icon color */
  margin: 5px 0;
  height: 2px;
  width: 30px;
}

ul {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0 20px; /* Adds padding to the right of the list */
}

li {
  margin-left: 20px; /* Spacing between menu items */
}

.nav-item {
  text-decoration: none;
  color: white; /* Menu text color */
  font-size: 1.2rem;
  padding: 10px;
}

.nav-item:hover {
  cursor: pointer;
  color: #af5def; /* Hover color */
}

@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Shows hamburger on mobile */
    margin-right: 20px; /* Adjusts hamburger position */
  }

  ul.nav-links {
    display: none;
    position: fixed;
    right: 0;
    top: 56px;
    flex-direction: column;
    background-color: var(--bg-color); /* Mobile menu background */
    width: 100%; /* Full width for the dropdown */
    text-align: right; /* Aligns text to the right */
    padding-right: 20px; /* Adds padding inside the dropdown menu */
  }

  .nav-links.open {
    display: block; /* Shows the menu */
  }

  li {
    margin: 15px 20px; /* Adjusts margin for mobile, adding right padding */
  }
}
